<h2>Greetings Star Hero!</h2>

<p>
We are happy to announce you just completed your mission, and can now move to the next one.
</p>

<p>
Before you rush off too fast to the next mission, just remember that the more you share what 
you have already accomplished with your friends and community, the more that people will know what you are doing, and they’ll be eager to help you!
</p>

<p>
Click on the link below to receive your next mission:
</p>

<%= link_to(@mission.title,congratulations_mission_url(@mission)) %>
<p>
Keep up the good work!
</p>

<p>
Your Friends, <br />
The People of the Stars
</p>
