@import url(http://fonts.googleapis.com/css?family=Chivo|Open+Sans:400,700,600);
@import 'mixins';

body {
  background-color: #000;
  margin: 0px;
  overflow: hidden;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

#content{
  margin: 0 auto;
  background: #000
}

.content {
  position:absolute;
  z-index: 99;
  width: 775px;
  left: 50%;
  margin: 120px 0 0 -387px;
  .in {
    margin-left: 243px;
    position: absolute;
    margin-top: -30px;
    h1 {
      font-size: 18px;
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
      width: 480px;
      margin-bottom: 35px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        line-height: 42px;
        list-style: none;
        float: left;
        a.sign_up {
          @include btn(18px, 0 24px);
          margin: 0 20px 0 0;
        }
        a.sign_in {
          color: #FFF;
          font-weight: bold;
          text-decoration: none;
          margin: 0 0 0 5px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.login {
  background: #FFF;
  padding: 35px 32px;
  border-radius: 5px;
  overflow: auto;
  ul {
    margin: 0 0 25px;
    padding: 0;
    li {
      list-style: none;
      margin: 0 0 15px;
      label {
        color: #5a5a5a;
        font-family: 'Chivo', sans-serif;
        display: block;
      }
      input {
        background: #ebebeb;
        font-family: 'Chivo', sans-serif;
        font-size: 14px;
        width: 435px;
        padding: 8px 10px;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
  a.forgot {
    color: #5a5a5a;
    text-decoration: none;
    margin: 10px 0 0;
    float: left;
    &:hover {
      text-decoration: underline;
    }
  }
  input[type='submit'] {
    @include btn(18px, 8px 40px);
    float: right;
  }
}

.footer a {
  text-decoration: none;
  color: #aeaeae;
}

.footer a:hover {
  text-decoration: underline;
}

.footer{
  font-size: 12px;
  font-weight: bold;
  color: #aeaeae;
  margin-top: 200px;
  clear: both;
}

.footer li {
  padding: 0 5px;
  list-style: none;
  float: left;
}

.globeGl{
  opacity:0.5;
  background: #000;
  cursor: pointer;
}
.hidden{
  display: none;
}


/* This imageless css button was generated by CSSButtonGenerator.com */
#tear{
  position: fixed;
  top:0px;
  right:0px;

}

.globeGl{
  height:1400px !important;
}

::-moz-selection,::selection {
  background: transparent;
  text-shadow:none;
}
