<% content_for :head do %>
  <%= stylesheet_link_tag "forms" %>
<% end %>

<%= form_for(@user, html: {multipart: true}) do |f| %>
  <h2><%= t("profile.edit") %></h2>

  <%= render partial: 'form', locals: {f: f} %>
<% end %>
