<% adapter = RUBY_ENGINE == "jruby" ? 'jdbcpostgresql' : 'postgresql' %>

development:
  adapter: <%= adapter %>
  encoding: unicode
  database: playthecall_development
  pool: 5
  username:
  password:

test:
  adapter: <%= adapter %>
  encoding: unicode
  database: playthecall_test
  pool: 20
  username:
  password:

staging:
  adapter: <%= adapter %>
  encoding: unicode
  database: playthecall_staging
  pool: 5
  username:
  password:

production:
  adapter: <%= adapter %>
  encoding: unicode
  database: playthecall_production
  pool: 5
  username:
  password:

