@mixin btn($font-size: 21px, $padding: 6px 24px) {
  -moz-box-shadow:inset 0 0 0 0 #277993;
  -webkit-box-shadow:inset 0 0 0 0 #277993;
  box-shadow:inset 0 0 0 0 #277993;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #59d7f2), color-stop(1, #1486b4) );
  background:-moz-linear-gradient( center top, #59d7f2 5%, #1486b4 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#59d7f2', endColorstr='#1486b4');
  background-color:#59d7f2;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #158cbc;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size: $font-size;
  font-weight:bold;
  padding: $padding;
  text-decoration:none;
  text-shadow:-1px -1px 0px #277993;
  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1486b4), color-stop(1, #59d7f2) );
    background:-moz-linear-gradient( center top, #1486b4 5%, #59d7f2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1486b4', endColorstr='#59d7f2');
    background-color:#1486b4;
  }
  &:active {
    position:relative;
    top:1px;
  }
}
