aside .missions,
aside .points,
aside .profile{
  background: #fff url('/assets/aside-shadow.jpg') repeat-y right center;
}
aside .profile {
  width:188px;
  padding: 25px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;

  img.avatar {
    height: 180px;
    width:  180px;
  }
}

aside .profile .profile-pic{
  border: 3px solid #e6e4e4;
  display: block;
  margin-left: auto;
  margin-right: auto
}
aside .profile h1 {
  color: #67757b;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}

aside .points {
  width:228px;
  padding: 10px 0 10px 10px;
  min-height: 150px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

aside .points .total-points{
  background: #ee353a;
  color: #fff;
  float:right;
  text-align: center;
  margin: 0 0 10px;
  padding: 20px 0;
  width: 228px;
  font-size: 20px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

aside .badges {
  margin-bottom: 10px;
  ul {
    width: 100%;
    overflow: auto;
    margin: 5px 0;
    li {
      margin: 0 5px 5px 0;
      float: left;
    }
  }
}

aside .btn {
  background: #a1a2a3 image-url('arrow-ranking.png') 10px 10px no-repeat;;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  width: 165px;
  display: block;
  padding: 9px 10px 9px 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


aside .missions {
  padding: 10px 15px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

aside .missions h1 {
  color: #2b707d;
  font-size: 20px;
}

aside .missions ul {
  margin: 10px 0 10px 0;
  font-size: 13px;
  font-weight: bold;
  color:#cc292d;
}

aside .missions li:nth-child(1n+4) {
  color:#a8a8a8!important;
}

aside .missions li {
  line-height: 20px;
}


