body{
  background:#2b707d url('/assets/bg-water.jpg') repeat-x center bottom ;
  border-top: 4px solid #f3f3f3;
  font-family:Helvetica, Arial, sans-serif;
}

ul li {list-style:none;}
a img {border: none;}

.content-header {
  a.sign-in{
    color: #ee353a;
  }

  .menu {
    float:right;
    margin-top: 38px;
    > li {
      float: left;
      line-height: 1.5em;
      a {
        color: #aeaeae;
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
        margin-right: 10px;
      }
      &.settings {
        margin-left: 0.5em;
        &.active {
          background-color: #F3F3F3;
        }
        ul.settings-drop {
          background-color: #F3F3F3;
          border-radius: 0 0 5px 5px;
          display: none;
          padding: 0.5em;
          position: absolute;
          width: 123px;
        }
        > a {
          background: url('/assets/settings.png') no-repeat right center;
          padding-left: 0.5em;
          padding-right: 20px;
        }
      }
    }
  }
}

.container,
.content-header {
  background:#fff;
  margin: 0 auto;
  width:993px;
}

header {
  background:#fff;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0, 0.5);
  -moz-box-shadow:    0 0 25px 0 rgba(0,0,0, 0.5);
  box-shadow:         0 0 25px 0 rgba(0,0,0, 0.5);
  .content-header {
    height:104px;
    .logo {
      float: left;
    }
  }
}


aside {
  float:left;
  section {margin-bottom: 20px;}
  strong{
    color:#cc292d;
    font-size:13px;
    span{
      color:#f77176;
    }
  }
  p {
    color:#67757b;
    font-size:13px;
    margin:10px 0;
  }
}

section.content {
  margin-bottom: 10px;
  float: left;
  background: #fff;
  width:755px;
  min-height:100px;
}

footer {
  height: 200px;
  padding-left: 40%;
  padding-top: 2em;
  li {
    display: inline;
    color: #AEAEAE;
    font-size: 15px;
    font-weight: bold;
    a {
      color: #AEAEAE;
      font-size: 15px;
      font-weight: bold;
      margin-right: 10px;
      text-decoration: none;
    }
  }
}
