@import url(http://fonts.googleapis.com/css?family=Chivo|Open+Sans:400,700,600);
@import 'mixins';

body{
  background: #2b707d url('/assets/bg-water.jpg') repeat-x center bottom;
  font-family: 'Open Sans', sans-serif;
}

ul li {list-style:none;}
a img {border: none;}

.content-header {
  a.sign-in{
    color: #ee353a;
  }

  .menu {
    float:right;
    margin-top: 38px;
    > li {
      float: left;
      line-height: 1.5em;
      a {
        color: #aeaeae;
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
        margin-right: 10px;
      }
      &.settings {
        margin-left: 0.5em;
        &.active {
          background-color: #F3F3F3;
        }
        ul.settings-drop {
          background-color: #F3F3F3;
          border-radius: 0 0 5px 5px;
          display: none;
          padding: 0.5em;
          position: absolute;
          width: 123px;
        }
        > a {
          background: url('/assets/settings.png') no-repeat right center;
          padding-left: 0.5em;
          padding-right: 20px;
        }
      }
    }
  }
}

.container,
.content-header {
  width:      993px;
  margin:     0 auto;
  background: #fff;
}

header {
  background:#fff;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0, 0.5);
  -moz-box-shadow:    0 0 25px 0 rgba(0,0,0, 0.5);
  box-shadow:         0 0 25px 0 rgba(0,0,0, 0.5);
  .content-header {
    height:104px;
    .logo {
      float: left;
      margin-top: 10px;
    }
  }
}


aside {
  float:left;
  section {margin-bottom: 20px;}
  strong{
    color:#cc292d;
    font-size:13px;
    span{
      color:#f77176;
    }
  }
  p {
    color:#67757b;
    font-size:13px;
    margin:10px 0;
  }
  .btn-ranking {
    border: none;
    text-shadow: 0 0 0 black;
    &:hover {
      background: #A1A2A3;
      border: none;
    }
  }
}

section.content {
  margin-bottom: 10px;
  float: left;
  background: #fff;
  width:755px;
  min-height:100px;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
}

footer {
  height: 200px;
  padding-top: 2em;
  ul {
    width: 990px;
    margin: 0 auto;
    li {
      display: inline;
      color: #AEAEAE;
      font-size: 15px;
      font-weight: bold;
      a {
        color: #AEAEAE;
        font-size: 15px;
        font-weight: bold;
        margin-right: 10px;
        text-decoration: none;
      }
    }
  }
}

.content-base {
  .mission-need {
    background-color: #fffacd;
    padding: 10px;
    color: #5A5A5A;
    font-weight: bold;
    width: 620px;
    margin-top: 10px;
    strong {
      float: right;
    }
  }
  .image-mission {
    max-width: 650px;
    margin-left: 13px;
  }
  .mission-content {
    padding: 20px 15px 0 18px;
    ul{
      li{
        color: #5A5A5A;
        margin: 10px 0;
        strong {
          color: #E71C2C;
        }
      }
    }
    p {
      margin: 0;
    }
    h1 {
      color: #E71C2C;
      margin-bottom: 10px;
    }
  }
  .btn {
    @include btn;
    font-size: 14px;
    padding: 10px 25px;
    font-weight: normal;
    float: right;
    margin: 10px 42px 0 0;
  }
}

