h2.title {
  color: #cc292d;
  font-size: 18px
}

form {
  background-color: #fff;
  color: #565656;
  float: left;
  padding-bottom: 23px;
  padding-left: 50px;
  padding-top: 57px;
  width: 687px;

  p.buttons {
    margin-top: 10px;
    padding-left: 70px;
  }

  input[type=email], input[type=password], input[type=text] {
    background-color: #f3f3f3;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 29px;
    width: 372px;
    padding-left: 1em;
  }
  textarea {
    background-color: #f3f3f3;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 1em;
    width: 627px;
    resize: none;
  }
  a.cancel {
    display: block;
    text-decoration: none;
    font-size: 13px;
  }
  > label{
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;
    margin-left: 2px;
    margin-top: 19px;
  }
  input[type=submit], a.cancel {
    background-color: #2e2e2e;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 8px;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    width: 127px;
  }
  .register-links {
    clear: both;
  }
}
#new_mission_enrollment{ padding: 0; width: 660px }
#new_mission_enrollment .btn {padding-top:5px;margin-right:10px }
#new_mission_enrollment .buttons a {font-size:13px;float:right;padding-top:20px}


