form {
  background-color: #fff;
  color: #565656;
  float: left;
  padding-bottom: 23px;
  padding-left: 70px;
  padding-top: 57px;
  width: 680px;

  h2 {
    color: #cc292d;
    font-size: 18px
  }

  p.buttons {
    margin-top: 20px;
    padding-left: 70px;
  }

  &.new_user{
    input[type=email], input[type=password], input[type=text] {
      background-color: #f3f3f3;
      border: none;
      border-radius: 2px;
      height: 29px;
      width: 372px;
      padding-left: 1em;
    }
    textarea {
      background-color: #f3f3f3;
      border: none;
      border-radius: 2px;
      padding: 1em;
      width: 363px;
    }
    a.cancel {
      display: block;
      text-decoration: none;
    }
    > label{
      display: block;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 6px;
      margin-left: 2px;
      margin-top: 19px;
    }
    input[type=submit], a.cancel {
      background-color: #2e2e2e;
      border: none;
      border-radius: 2px;
      color: #fff;
      float: left;
      height: 32px;
      line-height: 32px;
      margin: 8px;
      text-align: center;
      font-weight: bold;
      vertical-align: center;
      width: 127px;
    }
    .register-links {
      clear: both;
    }
  }
}
