div.container {
  background-color: #fff;
  padding: 60px 40px;
  width: 910px;
  h1 {
    color: #E6383C;
    font-size: 24px;
    margin: 0 0 30px;
  }
  h2 {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 30px;
  }
  p {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 20px;
  }
}
