ul.ranking {
  li {
    background: #e8e7e7;
    margin: 0 0 10px;
    padding: 15px;
    table {
      tr {
        td {
          vertical-align: top;
          h1 {
            color: #ee353a;
            font-family: 'chivo', sans-serif;
            font-size: 46px;
            font-weight: normal;
            letter-spacing: -2px;
            padding: 0 15px 0 0;
          }
          h2 {
            color: #ee353a;
            font-family: 'chivo', sans-serif;
            font-size: 18px;
            margin: 5px 0 7px;
            float: left;
          }
          img {
            margin: 0 20px 0 0;
            border: 2px #CCC solid;
          }
          p {
            color: #5a5a5a;
            font-size: 15px;
          }
          &.position {
            vertical-align: middle;
          }
          &.name {
            width: 300px;
          }
        }
      }
    }
  }
}
