@import 'mixins';

.content-base{
  padding: 20px 48px;
  //min-height: 1000px;
  p {
    font-family: 'Chivo', sans-serif;
    clear: both;
  }
  & > h1 +p, & > ul + p {
      color: #ca5356;
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 35px;
      clear: both;
  }
  & > h1 {
    background: #ee353a;
    color:#fff;
    margin: 0 0 25px;
    padding: 15px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    span {
      color:#ffc90c;
    }
  }
  h2 {
    color: #ee353a;
    font-family: 'Chivo', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 5px;
    float: left;
  }
  h3 {
    color: #ee353a;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 15px;
    &+ul {
      margin: 0 0 40px;
      li {
        color: #5a5a5a;
        font-family: 'Chivo', sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 20px;
        strong {
          color: #e6383c;
          text-transform: uppercase;
        }
      }
    }
  }
  i {
    color: #5a5a5a;
    font-family: 'Chivo', sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  ul.actions {
    text-align: right;
    float: right;
    li {
      display: inline;
      margin: 0 0 0 5px;
      a {
        font-size: 14px;
        text-transform: lowercase;
      }
    }
    &+p {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 55px;
      padding: 5px 0 0;
      border-top: 1px #DDD solid;
      clear: both;
    }
  }
  a.update_status {
    @include btn(14px, 8px 15px);
    margin: 0 0 15px;
    float: right;
  }
  a.add_link {
    color: #cc292d;
    font-size: 13px;
  }
  .box-social {
    background: #f2f0f0;
    padding: 14px;
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
  }
  .count_likes { float: right; margin-right: 10px; }
  .count_likes h4 { color: #67757B; text-transform: lowercase; font-size: 22px; font-weight: bold }
  .count_likes p { color: #999; font-family: 'Open Sans'; font-size: 13px; }
}
a { color: #333; text-decoration: none; }
.content-base .carousel img {border:3px solid #e6e4e4; width: 670px; margin: 10px}
.fb-comments {margin-left: 20px;}

.other-missions {
  color: #67757b;
  font-size: 20px;
  width:755px;
  float: left;
}
.other-missions a,
.other-missions h2 {float: left;line-height: 45px;color: #67757b;text-decoration: none;margin-left: 10px}

.other-missions > li {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: right;
  padding: 10px;
  margin: 0 0 10px 0;
  width:735px;
}
.other-missions .points-other-mission {float: right;margin-right:10px;}
.other-missions .points-other-mission li {float: left;}
.other-missions .points-other-mission li img {margin:0 10px 0 10px;}

footer{
  clear: both;
  width: 100%;
  background: #2b2c2d;
}

footer div{
  width: 993px;
  margin: 0 auto;
  min-height:100px;
}

#flash_alert {
  padding: 1em;
  width: 705px;
  background-color: red;
  color: white;
}

.moreText {
  height: 90px;
  overflow: hidden;
}

a.more {
  clear: both;
  width: 100%;
  display: block;
  text-decoration: none;
  margin: -10px 0 10px 0;
  color: blue;
  text-align: right;
  font-size: 12px;
}
