@import 'mixins';

.content-base{
  padding: 20px 48px;
  min-height: 1000px;
  & > h1 {
    background: #ee353a;
    color:#fff;
    margin: 0 0 25px;
    padding: 15px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    float: left;
    span {
      color:#ffc90c;
    }
  }
  p {
    color: #ca5356;
    font-family: 'Chivo', sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 35px;
    clear: both;
  }
  a.update_status {
    @include btn(14px, 8px 15px);
    margin: 0 0 15px;
    float: right;
  }
  .box-social {
    background: #f2f0f0;
    padding: 10px;
    margin-bottom: 10px;
    clear: both;
  }
}

.content-base .carousel img {border:3px solid #e6e4e4; width: 670px; margin: 10px 20px}
.fb-comments {margin-left: 20px;}

.other-missions {
  color: #67757b;
  font-size: 20px;
}
.other-missions a,
.other-missions h2 {float: left;line-height: 45px;color: #67757b;text-decoration: none;margin-left: 10px}

.other-missions > li {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: right;
  padding: 10px;
  margin: 0 0 10px 0;
  width:735px;
}
.other-missions .points-other-mission {float: right;margin-right:10px;}
.other-missions .points-other-mission li {float: left;}
.other-missions .points-other-mission li img {margin:0 10px 0 10px;}

footer{
  clear: both;
  width: 100%;
  background: #2b2c2d;
}

footer div{
  width: 993px;
  margin: 0 auto;
  min-height:100px;
}

#flash_alert {
  padding: 1em;
}

.moreText {
  height: 90px;
  overflow: hidden;
}

a.more {
  clear: both;
  width: 100%;
  display: block;
  text-decoration: none;
  margin: -10px 0 10px 0;
  color: blue;
  text-align: right;
  font-size: 12px;
}
