<section class="content">
  <div class="content-base">
    <div class="video"><%= @mission.video_url.html_safe %></div>
    <h1><%= st 'mission.indexed_title', position: @mission.position, title: @mission.title %></h1>
    <%= @mission.html_description.html_safe %>
    <%= presenter_for_mission @mission %>
  </div>
</section>
