<p><%= t("unlock_account.greeting", name: @resource.email) %></p>

<p><%= t("unlock_account.description") %></p>

<p><%= t("unlock_account.click_below") %></p>

<p><%= link_to t("actions.unlock_account"), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
